<a href="https://colab.research.google.com/github/NguyenDuyTan0302/Baitap09_11/blob/main/KieuTuple_Dict_Set_DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tup1=('physics','chemistry',1997,2000)
tup2=(1,2,3,4,5,6,7)
print("tup1[0]:",tup1[0])
print("tup2[1:5]:",tup2[1:5])

tup1[0]: physics
tup2[1:5]: (2, 3, 4, 5)

In [4]:
tup1=(12,34.56)
tup2=('abc','xyz')
tup3=tup1+tup2
print("tup3:",tup3)

tup3: (12, 34.56, 'abc', 'xyz')

In [5]:
tup1=('physics','chemistry',1997,2000)
print(tup1)
del tup1
print("Sau khi xóa:",tup1)

('physics', 'chemistry', 1997, 2000)

NameError: ignored

In [10]:
tup1=(1,2,3)
len(tup1)

3

In [11]:
tup1=(1,2,3)
3 in tup1

True

In [12]:
tup1=(1,2,3)
tup2=(4,5,6)
print(tup1+tup2)
print(tup1*3)
for x in tup1:print(x)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
1
2
3

In [14]:
T=('red','yellow','green')
print("T[2]:",T[2])
print("T[-2]:",T[-2])
print("T[1:]:",T[1:])

T[2]: green
T[-2]: yellow
T[1:]: ('yellow', 'green')

In [20]:
t1=(1,2,3)
max(t1)

3

In [21]:
t2=(4,5,6)
min(t2)

4

In [22]:
l1=[7,8,9,10]
tuple(l1)

(7, 8, 9, 10)

In [24]:
dict1={'name':'Tan','age':18,'class':'k2'}
print("dict1['name']:",dict1['name'])
print("dict1['age']:",dict1['age'])

dict1['name']: Tan
dict1['age']: 18

In [25]:
dict1={'name':'Tan','age':18,'class':'k2'}
dict1['age']=19
dict1['school']='Khoa KT&CN'
print("dict1['age']:",dict1['age'])
print("dict1['school']:",dict1['school'])

dict1['age']: 19
dict1['school']: Khoa KT&CN

In [27]:
dict1={'name':'Tan','age':18,'class':'k2'}
del dict1['name']
dict1.clear()
del dict1
print(dict1)

NameError: ignored

In [28]:
dict1={'name':'Tan','age':18,'class':'k2'}
len(dict1)

3

In [29]:
dict1={'name':'Tan','age':18,'class':'k2'}
str(dict1)

"{'name': 'Tan', 'age': 18, 'class': 'k2'}"

In [49]:
dict1={'name':'Tan','age':18,'class':'k2'}
dict2={'school':'Khoa KT&CN'}
dict1.copy()
dict1.get('name')
dict1.items()
dict1.keys()
dict1.update(dict2)
print(dict1)
dict1.values()

{'name': 'Tan', 'age': 18, 'class': 'k2', 'school': 'Khoa KT&CN'}

dict_values(['Tan', 18, 'k2', 'Khoa KT&CN'])

In [52]:
set1 = set(["a","b","c"])
print("set1",set1)
set1.add("d")
print("set1 sau khi thêm:",set1)

set1 {'a', 'b', 'c'}
set1 sau khi thêm: {'a', 'b', 'c', 'd'}

In [54]:
people1 = {"Tân","Trí","Tùng"}
print("People:",people1)
people1.add("Toàn")
for i in range(1,6):people1.add(i)
print("People sau khi thêm thành phần:",people1)

People: {'Tùng', 'Trí', 'Tân'}
People sau khi thêm thành phần: {1, 2, 3, 4, 5, 'Toàn', 'Tân', 'Tùng', 'Trí'}

In [55]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Days.discard("Sun")
print(Days)

{'Sat', 'Fri', 'Mon', 'Wed', 'Tue', 'Thu'}

In [56]:
set1={1,2,3,4,5,6,7}
print("set1:",set1)
set1.clear()
print("set1 sau khi xóa toàn bộ phần tử:",set1)

set1: {1, 2, 3, 4, 5, 6, 7}
set1 sau khi xóa toàn bộ phần tử: set()

In [59]:
people1 = {"Tân","Trí","Tùng"}
vampires1 = {"Karan", "Arjun"}
draculas1 = {"Deepanshu", "Raju"}
populations1 = people1.union(vampires1)
print("Union using union() function:",populations1)
populations1 = people1|draculas1
print("Union using '|' operator:",populations1)

Union using union() function: {'Karan', 'Tân', 'Tùng', 'Trí', 'Arjun'}
Union using '|' operator: {'Deepanshu', 'Tân', 'Raju', 'Tùng', 'Trí'}

In [61]:
set1 = set()
for i in range(5):set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print("Intersection using intersection() function:",set3)
set3=set1&set2
print("Intersection using '&' operator:",set3)
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function:",set3)
set3=set1-set2
print("Difference of two sets using '-' operator:",set3)

Intersection using intersection() function: {3, 4}
Intersection using '&' operator: {3, 4}
 Difference of two sets using difference() function: {0, 1, 2}
Difference of two sets using '-' operator: {0, 1, 2}

In [64]:
Days1=set(["Mon","Tue","Wed"])
Days2=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes=Days1<=Days2
SupersetRes=Days2>=Days1
print(SubsetRes)
print(SupersetRes)

True
True

In [66]:
import time;
ticks1=time.time()
print("Số ticks từ 12:00am, January 1, 1970:", ticks1)
localtime1=time.localtime(time.time())
print("Local curent time:",localtime1)

Số ticks từ 12:00am, January 1, 1970: 1636963696.5935528
Local curent time: time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=8, tm_min=8, tm_sec=16, tm_wday=0, tm_yday=319, tm_isdst=0)

In [67]:
import time;
localtime1=time.asctime(time.localtime(time.time()))
print("Local curent time:",localtime1)

Local curent time: Mon Nov 15 08:09:59 2021

In [69]:
import calendar
cal11=calendar.month(2021,11)
print("Lịch tháng 11 năm 2021:",cal11)

Lịch tháng 11 năm 2021:    November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30